@using Model.Models
@model Dialogue

<div>
    @Html.Partial("~/Views/Actor/CreateActor.cshtml", new Actor {DialogueId = Model.Id })
</div>
<div>
    @Html.Partial("~/Views/Actor/ActorList.cshtml", Model.Actors)
</div>
