@using Model.Models
@using Contract.Dtos
@model DialogueViewDto

<div>
    @Html.Partial("~/Views/Actor/CreateActor.cshtml", new Actor {DialogueId = Model.Dialogue.Id })
</div>
<div>
    @Html.Partial("~/Views/Actor/ActorList.cshtml", Model.Dialogue.Actors)
</div>
