@using Model.Models
@model Dialogue

<div>
    @Html.Partial("~/Views/Actor/CreateActor.cshtml", new Actor {DialogueId = Model.Id })
</div>
<div>
    @{ Html.RenderAction("GetPage","Actor", new {idDialogue = Model.Id}); }
</div>
