AplikacjaLingwistyczna/bin/AplikacjaLingwistyczna.pdb
AplikacjaLingwistyczna/bin/Contract.dll
AplikacjaLingwistyczna/bin/Contract.pdb
AplikacjaLingwistyczna/bin/Core.dll
AplikacjaLingwistyczna/bin/Core.pdb
AplikacjaLingwistyczna/bin/Model.dll
AplikacjaLingwistyczna/bin/Model.pdb
AplikacjaLingwistyczna/bin/Repository.dll
AplikacjaLingwistyczna/bin/Repository.pdb
AplikacjaLingwistyczna/obj/Debug/AplikacjaLingwistyczna.pdb
Contract/bin/Debug/Contract.dll
Contract/bin/Debug/Contract.pdb
Contract/bin/Debug/Model.dll
Contract/bin/Debug/Model.pdb
Contract/obj/Debug/Contract.csprojResolveAssemblyReference.cache
Contract/obj/Debug/Contract.dll
Contract/obj/Debug/Contract.pdb
Core/bin/Debug/Contract.dll
Core/bin/Debug/Contract.pdb
Core/bin/Debug/Core.dll
Core/bin/Debug/Core.pdb
Core/bin/Debug/Model.dll
Core/bin/Debug/Model.pdb
Core/bin/Debug/Repository.dll
Core/bin/Debug/Repository.pdb
Core/obj/Debug/Core.csprojResolveAssemblyReference.cache
Core/obj/Debug/Core.dll
Core/obj/Debug/Core.pdb
Model/bin/Debug/Model.dll
Model/bin/Debug/Model.pdb
Model/obj/Debug/Model.csproj.GenerateResource.Cache
Model/obj/Debug/Model.dll
Model/obj/Debug/Model.pdb
Repository/bin/Debug/Contract.dll
Repository/bin/Debug/Contract.pdb
Repository/bin/Debug/Model.dll
Repository/bin/Debug/Model.pdb
Repository/bin/Debug/Repository.dll
Repository/bin/Debug/Repository.pdb
Repository/obj/Debug/Repository.csprojResolveAssemblyReference.cache
Repository/obj/Debug/Repository.dll
Repository/obj/Debug/Repository.pdb
AplikacjaLingwistyczna/obj/Debug/AplikacjaLingwistyczna.csprojResolveAssemblyReference.cache
AplikacjaLingwistyczna/obj/Debug/AplikacjaLingwistyczna.dll
AplikacjaLingwistyczna/bin/AplikacjaLingwistyczna.dll
.vs/AplikacjaLingwistyczna/v14/.suo
AplikacjaLingwistyczna/obj/
AplikacjaLingwistyczna.Tests/bin/
Service/bin/
Repository/obj/
Repository/bin/
Service/obj/
Core/bin/
AplikacjaLingwistyczna/bin/
AplikacjaLingwistyczna.v2.ncrunchsolution
AplikacjaLingwistyczna.ncrunchsolution.user
AplikacjaLingwistyczna/AplikacjaLingwistyczna.v2.ncrunchproject
Contract/Contract.v2.ncrunchproject
Core/Core.v2.ncrunchproject
Repository/Repo.v2.ncrunchproject
AplikacjaLingwistyczna.Tests/obj/
Core/obj/
