@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    43-436 Górki Wielkie<br />
    Ul: Szpotawicka 107<br />
    <abbr title="Phone">Telefon:</abbr>
    507-688-676
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">AdrianDadok@gmail.com</a><br />
</address>