@using Model.Models
@model Dialogue

<div>
    @Html.Partial("~/Views/Issue/CreateIssue.cshtml", new Issue { DialogueId = Model.Id, IssueNr = (Model.Issues.Count + 1), Dialogue = Model })
</div>
<div>
    @Html.Partial("~/Views/Issue/IssueList.cshtml", Model.Issues)
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
        $(document).ready(function () {
            $("#result").dialog({
                autoOpen: false,
                title: 'Title',
                width: 500,
                height: 'auto',
                modal: true
            });
        });
        function openPopup() {
            $("#result").dialog("open");
        }
</script>

