@using Contract.Dtos
@model DialoguePageDto

@{
    ViewBag.Title = "Dialogi";
}

<h2>Dialogi</h2>

    @Html.ActionLink("Stwórz nowy", "Create")

<table>
    <tr>
        <th class="col-xs-4">
            @Html.Partial("~/Views/Dialogue/ListView.cshtml", Model)
        </th>
        <th class="col-xs-2">
            @Html.Partial("~/Views/Dialogue/SortPage.cshtml", Model.Sort)
        </th>
    </tr>
</table>

